<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NPNG</title>

  <!-- Bootstrap Core CSS -->
  <link href="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/css/stylish-portfolio.min.css" rel="stylesheet">
  <style>
      .text-01{
          font-family: Sans-serif
          width: 200px;
          height: 200px;
          text-align: justify;
          margin-top: 10px;
      }

      .img-01{
          width: 920px;
          height: auto;
      }

  </style>
</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="/">No Pain No Gain</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#monday">Blog</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#monday">1. MONDAY No Equipment Day!</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#tuesday">2. TUESDAY: Basic Beginner Day!</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#wednesay">3. WEDNESDAY: Rest Day!</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#thursday">4. THURSDAY: On The Go Day!</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#friday">5. FRIDAY : Fat Removal Day!</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#saturday">6. SATURDAY : Beginner HIIT DAY!</a>
      </li><li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#sunday">7. SUNDAY : REST Day!</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex" style="background-image:url(https://images.wallpaperscraft.com/image/fitness_barbell_weight_training_108415_3840x2160.jpg)">
    <div class="container text-center my-auto">
      <h1 class="mb-1">5 Day/Week</h1>
      <h5 class="mb-5">
        <em>บทความนี้เหมาะสำหรับผู้เริ่มต้นที่ต้องการฝึก 5 วัน/สัปดาห์</em>
      </h5>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#monday">Find Out More</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- Blog01-->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>5 Day per Week for Beginner</h2>
          <p class="lead mb-5" id="monday">1. MONDAY No Equipment Day!</p>
          <img class="img-01" src="/static/images/01-monday.jpeg" alt>
          <ul class="text-01">
            <p>
              <em>
                  4 Circles :
              </em>
            </p>
              <li>
                  <em>
                      Max Plank (Hold plank for 30 seconds if you’re a complete beginner)
                  </em>
              </li>
              <li>
                  <em>
                      8 Squats
                  </em>
              </li>
              <li>
                  <em>
                      8 Lunges (each leg)
                  </em>
              </li>
              <li>
                  <em>
                      8 Push Ups
                  </em>
              </li>
              <li>
                  <em>
                      8 Laying Down Leg Raises
                  </em>
              </li>
              <li>
                  <em>
                      Max Mountain Climbers (Do 20 each leg if you’re just starting)
                  </em>
              </li>
              <li>
                  <em>
                      8 Pike Push Ups
                  </em>
              </li>
          </ul>
          <p class="lead mb-5" id="tuesday">2. TUESDAY: Basic Beginner Day!</p>
          <img class="img-01" src="/static/images/01-tuesday.jpeg" alt>
          <ul class="text-01">
            <p>
              <em>
                  4 Circles :
              </em>
            </p>
              <li>
                  <em>
                      7 Close Hands Chin Ups
                  </em>
              </li>
              <li>
                  <em>
                      5 Pull Ups
                  </em>
              </li>
              <li>
                  <em>
                      6 Dips
                  </em>
              </li>
              <li>
                  <em>
                      15 Push Ups
                  </em>
              </li>
              <li>
                  <em>
                      5 Leg Raises
                  </em>
              </li>
              <li>
                  <em>
                      9 Jump Squats
                  </em>
              </li>
              <li>
                  <em>
                      15 Australian Pull Ups
                  </em>
              </li>
          </ul>
          <p class="lead mb-5" id="wednesday">3. WEDNESDAY: Rest Day!</p>
          <p class="lead mb-5" id="thursday">4. THURSDAY: On The Go Day!</p>
          <img class="img-01" src="/static/images/01-thursday.jpeg" alt>
          <ul class="text-01">
            <p>
              <em>
                  4 Circles :
              </em>
            </p>
              <li>
                  <em>
                      20 Wide Push Ups
                  </em>
              </li>
              <li>
                  <em>
                      20 Mountain Climbers
                  </em>
              </li>
              <li>
                  <em>
                      60 Second Wall Sit
                  </em>
              </li>
              <li>
                  <em>
                      15 Clap Push Ups
                  </em>
              </li>
              <li>
                  <em>
                      30 Second Superman Hold
                  </em>
              </li>
              <li>
                  <em>
                      30 Squats
                  </em>
              </li>
              <li>
                  <em>
                      60 Second Plank
                  </em>
              </li>
          </ul>
          <p class="lead mb-5" id="friday">5. FRIDAY : Fat Removal Day!</p>
          <img class="img-01" src="/static/images/01-friday.jpeg" alt>
          <ul class="text-01">
            <p>
              <em>
                  4 Circles :
              </em>
            </p>
              <li>
                  <em>
                      100 Meter Run
                  </em>
              </li>
              <li>
                  <em>
                      5 Dips
                  </em>
              </li>
              <li>
                  <em>
                      45 Second Jumping Jacks
                  </em>
              </li><li>
                  <em>
                      8 Push Ups
                  </em>
              </li><li>
                  <em>
                      30 Second Alternating High Knees
                  </em>
              </li><li>
                  <em>
                      30 Second Mountain Climbers
                  </em>
              </li><li>
                  <em>
                      15 Second Plank
                  </em>
              </li>
          </ul>
          <p class="lead mb-5" id="saturday">6. SATURDAY : Beginner HIIT DAY!</p>
          <ul class="text-01">
            <p>
              <em>
                  4 Circles :
              </em>
            </p>
            <li>
                <em>
                    15 second sprint (Run as fast as you can!)
                </em>
            </li>
            <li>
                <em>
                    45 second walk (Don’t stop in place. Keep walking)
                </em>
            </li>
           </ul>
           <ul class="text-01">
            <p>
              <em>
                  1 Cycle :
              </em>
            </p>
            <li>
                <em>
                    30 second sprint (Run as fast as you can!)
                </em>
            </li>
            <li>
                <em>
                    1:30 second walk + recovery
                </em>
            </li>
           </ul>
           <ul class="text-01">
            <p>
              <em>
                  4 Circles :
              </em>
            </p>
            <li>
                <em>
                    15 second sprint (Run as fast as you can!)
                </em>
            </li>
            <li>
                <em>
                    45 second walk (Don’t stop in place. Keep walking)
                </em>
            </li>
           </ul>
           <ul class="text-01">
            <p>
              <em>
                  1 Circle :
              </em>
            </p>
            <li>
                <em>
                    30 second sprint (Run as fast as you can!)
                </em>
            </li>
            <li>
                <em>
                    1:30 second walk + recovery
                </em>
            </li>
           </ul>
          <p class="lead mb-5" id="sunday">7. SUNDAY : REST Day!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/profile.php?id=100002835948161">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/palasak_rock/">
            <i class="icon-social-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://github.com/Palasak/pythonanywhere">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Palasak 2020</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/vendor/jquery/jquery.min.js"></script>
  <script src="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/js/stylish-portfolio.min.js"></script>

</body>

</html>
