<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>NPNG</title>

  <!-- Bootstrap Core CSS -->
  <link href="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/css/stylish-portfolio.min.css" rel="stylesheet">
  <style>
      .text-01{
          font-family: Sans-serif
          width: 200px;
          height: 200px;
          text-align: justify;
          margin-top: 10px;
      }

      .img-01{
          width: 920px;
          height: auto;
      }

  </style>
</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="/">No Pain No Gain</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#blog">Blog</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex" style="background-image:url(https://images.wallpaperscraft.com/image/fitness_barbell_weight_training_108415_3840x2160.jpg)">
    <div class="container text-center my-auto">
      <h1 class="mb-1">เริ่มเล่น calisthenics ยังไง ?</h1>
      <h5 class="mb-5">
        <em>3 ท่าพื้นฐานที่คุณจะต้องทำได้ </em>
      </h5>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#blog">Find Out More</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- Blog01-->
  <section class="content-section bg-light" id="blog">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>3 Basic for Beginner</h2>

          <p class="lead mb-5" id="">3 ท่าพื้นฐาน</p>
          <video width="920" height="auto" controls>
              <source src="/static/images/3basic.mp4" type="video/mp4">
          </video>

        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/profile.php?id=100002835948161">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/palasak_rock/">
            <i class="icon-social-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="https://github.com/Palasak/pythonanywhere">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Palasak 2020</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/vendor/jquery/jquery.min.js"></script>
  <script src="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="https://startbootstrap.github.io/startbootstrap-stylish-portfolio/js/stylish-portfolio.min.js"></script>

</body>

</html>
